// gruvbox color palette
// https://github.com/morhetz/gruvbox
$bg: #282828;
$bg_3: #665C54;
$fg: #EBDBB2;
$fg_2: #D5C4A1;
$aqua: #689D6A;
$aqua_light: #8EC07C;


// UI
$ui-base-color: $bg ! default;
$ui-base-lighter-color: $bg_3 ! default;
$ui-primary-color: $fg_2 ! default;
$ui-secondary-color: $aqua ! default;
$ui-highlight-color: $aqua_light ! default;
$primary-text-color: $fg ! default;

